.wrapper {
  margin: 0px auto 74px;
  padding: 50px 20px 20px 35px;
 
  .row {
   border-top: 1px solid #ccc;  
    padding: 10px;
    text-align: left;
    word-wrap: break-word;
  }
}
input[type="submit"].btn-block{
  margin: 15px 0;
}

.container{
  padding-bottom: 85px;
}